<html>
<head>
<title></title>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
<link href= "/styles/basic.css" rel="stylesheet">
<link href="/styles/dash.css"  rel="stylesheet">
<link href="/styles/buttons.css" rel="stylesheet">
<link href="/styles/memo.css" rel="stylesheet">
<script src="scripts/cards.js"></script>
<style>
.ql-snow .ql-editor pre.ql-syntax {
    background-color: #000000;
    color: #f8f8f2;
    overflow: hidden;
}

.ql-toolbar{
	overflow: hidden;
    width: 70%;
    position: relative;
    left: -20.5%;
    top: 5%;
}
</style>
<style>
</style>
</head>
<body>
<div class="bodygrid">
<div class="menu leftnav" onmouseover="chop(0)" onmouseout="chop(1)">
    <div class="title">MENU</div>
    <ul class="nav">
      <li><a href="http://localhost:3000">Home</a></li>
      <li><a href="#">My Communities</a></li>
      <li><a href="../../memo">Add Memo</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
</div>
<div id="newMemoText">
	<button id="new" class="col-md-2 right add addMemobtn"><i id="btnilus" class="fa fa-plus-circle" aria-hidden="true"></i><span id="newbtn"> New note</span></button>
</div>
<div class="memos" id="stick-box">
</div>
</div>
<script src = "scripts/notes.js"></script>
<script>
let noteTitle,pad,quill,toolbar,createMemo;
function chop(opac) {
	document.getElementsByClassName('title')[0].style.opacity = opac;
	document.getElementsByClassName('nav')[0].style.opacity= Math.abs(1-opac);
}

document.getElementById('new').addEventListener('click',function(){
	if(document.getElementById('btnilus').className == "fa fa-plus-circle"){
		document.getElementById('newMemoText').style.marginBottom = "-15%";
		document.getElementsByClassName('memos')[0].style.marginTop = "15%";
		document.getElementById('newbtn').innerHTML = "Cancel";
		document.getElementById('btnilus').className = "fa fa-window-close";
		setTimeout(function(){
			pad = document.createElement('div');
			pad.id = "editor";
			pad.className = "left";
			noteTitle = document.createElement('input');
			noteTitle.id = "noteTitle";
			noteTitle.className = "left notels";
			noteTitle.placeholder = "Title of the note";
			createMemo = document.createElement('button');
			createMemo.id = "submitNote";
			createMemo.className = "right add";
			createMemo.innerHTML = "Create Memo";
			document.getElementById('newMemoText').appendChild(noteTitle);
			document.getElementById('newMemoText').appendChild(pad);
			document.getElementById('newMemoText').appendChild(createMemo);
			createMemo.addEventListener('click',function(){
				newSticky(document.getElementById('noteTitle').value);
				closeEditor();

			});			
			quill = new Quill('#editor',{
			theme : 'snow'
			});

		},200);
	}
	else{
		closeEditor();
	}


});

function closeEditor(){
	document.getElementById('newMemoText').style.marginBottom = "0%";
	document.getElementsByClassName('memos')[0].style.marginTop = "0%";
	document.getElementById('newbtn').innerHTML = "New note";
	document.getElementById('btnilus').className = "fa fa-plus-circle";
	document.getElementById('newMemoText').removeChild(document.getElementById('editor'));
	document.getElementById('newMemoText').removeChild(document.getElementById('noteTitle'));
	document.getElementById('newMemoText').removeChild(document.getElementById('submitNote'));
	toolbar = document.getElementsByClassName('ql-toolbar')[0];
	toolbar.parentNode.removeChild(toolbar);
}
</script>
</body>
</html>